<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Learn something today</h1>
  <hr />
  <br />
  <% @courses.each do |course| %>
    <h2 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h2>
    
    <h5 class="text-center">
      <%= course.description %>
    </h5>
      <br />
      <%= image_tag course.image, class: 'img-fluid pics' %>
    <br />
    <br />
      <%= link_to 'More Details...', course_path(course), class: 'btn btn-primary btn-large bsbtn' %>
    <br class="clr" />
  <% end %>
</div>
